<%- include("template/cabecera", {title: "404"}) %>

<body>
  <div class="contenedor">

    <%- include("template/navbar") %>
    <h2><%= titulo %></h2>
    <h2><%= descripcion %></h2>
  </div>
</body>

</html>