<%- include("template/cabecera", {title: "Index"}) %>



<%- include("template/navbar") %>

<main>
  <div class="contenedor">
    <h1>Index EJS</h1>
    <h2><%= titulo %></h2>
  </div>
</main>

<%- include("template/footer") %>