<%- include("template/cabecera", {title: "Servicios"}) %>


<%- include("template/navbar") %>

<main>
  <div class="contenedor">
    <h1>Servicios</h1>
    <h2><%= tituloServicio %></h2>
  </div>
</main>

<%- include("template/footer") %>